/***MAIN***/
html {
  background-color: #b1d0cb;
}

body {
  height: 100%;
  width: 975px;
  color: #61858e;
  font-family: 'Amatic SC', cursive;
  width: 975px;
  height: auto;
  padding: 5px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  border: 3px solid #B7AFA3;
  background-color: #FDF3E7;
  border-radius: 10px;
}

img {
  border-width: 1px;
  border-color: black;
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  margin: 10px;
  }

h2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin: 10px;
  }
h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Amatic SC', cursive:
}

hr {
    border: 1px solid #B7AFA3;
}
/***HEADER***/
header {
  text-align:center;
  margin: 20px 20px 10px 20px;
}

/***PIC SWIP LIST***/
.sliders: {
  margin: auto;
  padding: auto;
  background-color: green;
  overflow: auto;
}
.sliders ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  margin-bottom: 20px;
}
.sliders li {
  display: inline-block;
  text-align: center;
}

/***FADE EFFECT***/

.mybackground {
  position: relative;
  display: inline-block;
  text-indent: 0px;
  width: 150px;
  height: 150px;
  background: url(images/fadepic.jpg);
  background-position: 0 0;
  border-radius: 5px;
  border: 2px solid #8a795d;
}

.mybackground span {
  border-radius: 5px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: url(images/fadepic.jpg);
  background-position: 150px 0px;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition:  opacity 1s ease;
}

.mybackground span:hover {
  opacity: 1;
}


/***PIC SWIPE EFFECT***/

.swipe {
  overflow: auto;
}
.swipe ul {
  background-color: black;
}
.swipe li{
  float: left;
  position:relative;
  display:inline-block;
  height:300px;
  min-width:10px;
  width: 35px;
  overflow:hidden;
  padding: 20px;
  background-color: red;
  -moz-transition: all .8s ease;
  -webkit-transition: a .8s ease;
  transition: all .8s ease;
}
.swipe li:hover,
.swipe li:active { width:300px; }
#one { background: #8a795d; }
#two{ background: #9C9F84; }
#three{ background: #61858e; }
#four{ background: #B7AFA3; }
#five{ background: #b1d0cb; width: 300px;
}


/***FOOTER***/
.footer {
  display: block;
  clear: both;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 25px;
}
.footer ul {
  display: margin: auto;
  padding: auto;
  list-style-type: none;
  text-decoration: none;
}
.footer li {
  text-align: center;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;

}
